.app{
  height: 100vh;
  background-color: rgb(100, 198, 237);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet{
  height: 15em;
  width: 15em;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.red{
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

